html {
  height: 100%;
  width: 100%;
}

body {
  background: #942626
}



/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 22px;
  text-decoration: underline;
  font-size: 30px;
  margin-left: 5%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dedede;
  color: black;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.headings {
  color: white;
  /* text-align: left; */
  /* padding: 1px 5px; */
  /* padding-bottom: px; */
  font-size: 32px;
}

.linkers {
   color:white; 
   /* text-align:left; */
  /* padding: 1px 275px; */
  font-style:none; 
  margin-left: 40%;
  font-size: 26px;
  
}

.box {
  padding-top: 5%;
  display: flex;
  width: 60%;
  height: 40%;
  margin-top: 10%;
  transform: translateX(20%);
}

/* copied */
.BOX {
  width: 400px;
  height: 100px;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 10px;
  transform: translateX(10%);
  color: white;
  font-size: 20px;
}

/* section1. { */
  /* text-align: left; */
/* } */

.hr {
  width: 90%;
  height: 3%
  
}

.BOX2 {
  width: 800px;
  height: 300px;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 10px;
  transform: translateX(5%);
   color: white;
  font-size: 20px;
}

.tester {
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.BOX3 {
  width: 400px;
  height: 100px;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 10px;
  transform: translateX(10%);
   color: white;
  font-size: 20px;
}

.BOX4 {
  width: 400px;
  height: 100px;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 10px;
  transform: translateX(10%);
   color: white;
  font-size: 20px;
}

.heading {
  color: white;
  text-align: left;
  font-size: 30px;
  transform: translateX(5%);
   width: 80%;
}

.bullets {
   color:white; 
   text-align:left;
font-style:none; 
  font-size: 26px;
  transform: translateX(5%);
   width: 80%;
}

.quote {
  text-align: center;
  font-style: cursive;
  
}

.ahhhhh {
  position: absolute;
  right: -600px;  
  width: 300px;
  height: 250px;
}
